.App {
  text-align: center;
}

.Lists {
  float:left;
}

.FlexContainer{
  display: flex;
}

/*@media(max-width: 800px) {
  .FlexContainer{
    flex-direction: column;
  }
}*/


.WishlistContainer {
  flex-grow: 1;
  padding-right: 223px;
}
